.navbar-header .header-search {
  height: 30px;
  margin: 15px 0;
  background: #fff;
}

.modal-open .select2-container {
  z-index: 999999;
}

// #wrapper {
//     overflow-x: visible;
// }

#page-wrapper{
  padding: 0px !important;
}



.table  {
  position: relative !important;
  height: 100% !important;
}

.headerTable {
  display: block;
  width: 500px;
  overflow: auto;
}



.empty-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  margin-top: 140px;

  &.no-top {
    margin-top: 0;
  }
}

.clear-both  {
  clear: both;
}


/*paggination*/

.modal{
  
}


.pagination-fixed {
  position: fixed;
  height: 0px;
}

.btn-group{
  float: right;
}


.currentRow{
 float: left;
}


.scrollable {
  height: 100%;
  overflow: auto;
}

.max-height {
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}

