.navbar-header .header-search {
  height: 30px;
  margin: 15px 0;
  background: #fff;
}

.modal-open .select2-container {
  z-index: 999999;
}

.empty-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  margin-top: 140px;

  &.no-top {
    margin-top: 0;
  }
}

.clear-both  {
  clear: both;
}

.pagination-fixed {
  position: fixed;
  height: 50px;
  bottom: 0;
}

.scrollable {
  height: 100%;
  overflow: auto;
}

.max-height {
  height: 100%;
}

.no-overflow {
  overflow: hidden;
}
